flask
flask-cors
python-dotenv
requests
beautifulsoup4
langchain
langchain-core
langchain-classic
langchain-postgres
langchain-groq
langchain-huggingface
langchain-text-splitters
psycopg2-binary
groq
sentence-transformers
gunicorn