flask
flask-cors
python-dotenv
requests
beautifulsoup4
langchain
langchain-core
langchain-classic
langchain-chroma
langchain-groq
langchain-huggingface
langchain-text-splitters
chromadb
groq
sentence-transformers
gunicorn